{% extends 'base.html' %}

{% block content %}
<h1>This is your cart</h1>
<ul>
    {% for product in products %}
        <li>
            {{ product['item'] }} {{ product['quantity']}}
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.id(value=product['id']) }}
                {{ form.quantity }}
                {{ form.submit_update }}
            </form>
            <a href="{{ url_for('remove_from_cart', id=product['id'] )}}"><button>remove</button></a>
        </li>
    {% endfor %}
</ul>

{% endblock %}