{% extends 'base.html' %}

{% block content %}
<section id="cart">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p class="error" style="margin-bottom: 0;"><strong>{{ message }}</strong></p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="grid-container">
        <div class="grid-header">
            <h1>Your shopping cart</h1>
        </div>
        <div class="grid-items">
                {% for product in products %}
                <div class="cart-item">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename=product.image_url)}}" class="cart-image" alt="">
                    </div>
                        <h2>{{ product['item'] }}</h2> 
                        <p>¥{{ product['price']}}</p>
                        <p>{{ product['quantity']}}x</p>
                        <p>¥{{ product['subtotal']}}</p>
                        <div class="form-container">
                            <form method="POST">
                                {{ form.csrf_token }}
                                {{ form.id(value=product['id']) }}
                                <div class="form-control">
                                    Qty: {{ form.quantity }}
                                    Size: {{ form.size }}
                                    {{ form.name(value=product['item']) }}
                                    {{ form.submit_update }}
                                </div>
                            </form>
                            <a href="{{ url_for('remove_from_cart', id=product['id'] )}}"><button>remove</button></a>
                        </div>
                </div>
                {% endfor %}
                
        </div>
        <div class="grid-checkout">
            <div class="summary-container">
                <div class="summary-control">
                    <h1>Summary</h1>
                </div>
                <div class="summary-control">
                    <span>Subtotal: </span> <span>¥{{ total }}</span>
                </div>
                <div class="summary-control">
                    <span>Tax: </span><span>10%</span>
                </div>
                <div class="summary-control">
                    <h2>Order Total: ¥{{ total_tax }}</h2>
                </div>
                <a href="{{ url_for('order')}}"><button>Go to checkout</button></a>
            </div>
        </div>
    </div>
</section>


{% endblock %}