{% extends 'base.html' %}

{% block content %}
<section id="order">
    <div class="grid-container">
        <div class="grid-header">
            <h1>checkout</h1>
            <div class="line-container">
                <span class="circle-active">&#10004;
                    <p>Shipping</p>
                </span>
                <span class="circle-inactive">2.
                    <p>Review and Payment</p>
                </span>
            </div>
        </div>
        <div class="grid-form">
            <div class="form-container">
                <h2>Please fill in your details</h2>
                <form method="POST">
                    {{ form.csrf_token }}
                       <div class="form-control">
                           {{ form.first_name.label }}
                           {{ form.first_name }}
                       </div>
                        <div class="form-control">
                            {{ form.last_name.label }}
                            {{ form.last_name }}
                        </div>
                        <div class="form-control">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                        <div class="form-control">
                            {{ form.address.label }}
                            {{ form.address }}
                        </div>
                        <div class="form-control">
                            {{ form.postal_code.label }}
                            {{ form.postal_code }}
                        </div>
                        <div class="form-control">
                            {{ form.city.label }}
                            {{ form.city }}
                        </div>
                    {{ form.submit }}   
                   {% for error in form.errors %}
                    <li>{{ error }}</li> 
                   {%endfor %}
                </form>
            </div>
        </div>
        <div class="grid-summary">
            <div class="summary-container">
                <h1>Summary</h1>
                <div class="product-container">
                    {% for product in products %}
                    <div class="product">
                        <div class="image"><img src="{{ url_for('static', filename=product['image_url'])}}" alt=""></div>
                        <div class="info">
                            <span> {{ product['item']}}</span>  
                            <span>Qty: {{ product['quantity'] }}</span> 
                        </div>
                        <div class="price">¥{{ product['subtotal']}}</div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}